/* reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: Anton;
    src: url(../assets/Fonts/Anton-Regular.ttf);
}

/* navbar */
.navbar{
    background-color: #306;
}

.navbar__logo {

    border: 2px solid black;
    border-radius: 50%;

    width: 75px;
}

.navbar__polimery{
    color: rgb(2, 177, 8);
    font-family: Anton;
    font-size: 26px;
}

.navbar__wolf{
    color: #ffffff;
    font-family: Anton;
    font-size: 26px;
}

.nav-item {
    margin: 5px;
    padding: 0px 15px;
    border-radius: 25px;
    border: 2px solid black;

    background-color: rgb(2, 177, 8)
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.navbar-toggler{
    border: 2px solid rgb(2, 177, 8);
    color: rgb(2, 177, 8);
    background-color: #ffffff1c;
}

/* banners */
.banner {
    height: 600px;
    width: 100%;
    margin: 200px 0 100px 0;


    border: 2px solid #000
}

.banner__div--left{
    border-right: 1px solid #000
}
.banner__div--rigth{
    border-left: 1px solid #000
}

.container-fluid {
    padding: 0;
}

/* banner index */
.banner__home{
    background-image: url(../assets/images/banner1.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__home__text{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 15px;
    padding: 4px 15px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(62, 62, 62,0.8);
    text-align: center;

    font-family: Anton, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

/* banner about */
.banner__about__text {
    text-align: center;
    
    font-family: "Roboto",  Arial, Helvetica, sans-serif;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__about__image {
    background-image: url(../assets/images/banner1.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* banner contact */
.banner__map {
    padding: 0;
}

.banner__map iframe {

    width: 100%;
    height: 100%;
}

.banner__form {
    padding: 15px;
}

.banner__form__title {
    width: 90%;

    text-align: center;
    font-size: 25px;

    color: #1d1d1d;
}

.banner__form__title--span {
    color: rgb(119, 0, 238);
    
}

.banner__form form{
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;

}

.banner__form form div{
    margin: 5px 0;
}

.banner__form--name-last {
    width: 90%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.banner__form--name-last input {
    width: 49%;
}

.banner__form--email {
    width: 90%;
}

.banner__form--email input{
    width: 100%;
}

.banner__form--text {
    width: 90%;
}

.banner__form--text textarea{
    width: 100%;
    height: 70px;
}

/* banner service */
.banner__service__text {

    
    font-family: "Roboto",  Arial, Helvetica, sans-serif;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__service__text ul {
    font-size: 20px;
    padding-left: 15%;

}

.banner__service__image {
    background-image: url(../assets/images/banner1.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* banner design */
.banner__design__text {
    text-align: center;
    
    font-family: "Roboto",  Arial, Helvetica, sans-serif;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__design__image {
    background-image: url(../assets/images/banner1.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* media queries */
@media (max-width: 575px) {

    .banner__home__text {
        font-size: 25px;
    }

}

@media (max-width: 576px) {
    .banner__div--left{
        border-right: 0;
        border-bottom: 1px solid #000;
    }
    .banner__div--rigth{
        border-left: 0;
        border-top: 1px solid #000;
    }

    .banner__form form {
        flex-direction: column;
    }

}

@media (max-width: 905px) {

    .banner__form--name-last input{
        width: 100%;
    }

    .banner__form--name-last #name{
        margin-bottom: 10px;
    }

}


/* footer */
.footer {
    height: 100px;
    background-color: #306;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    display: flex;
    flex-flow: column nowrap;

    font-size: 15px;
    color: #ffffff;
}

.footer__text:nth-child(n){
    justify-content: center;
    align-items: center;
    text-align: center;
}
