/* IMPORTS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Anton;
  src: url(../assets/Fonts/Anton-Regular.ttf);
}
@keyframes imgmove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* COMPONENTS */
.navbar {
  background-color: #306;
}

.navbar__logo {
  margin-left: 15px;
  border: 2px solid #191919;
  border-radius: 50%;
  width: 75px;
}

.navbar__polimery {
  color: #02b108;
  font-family: Anton;
  font-size: 26px;
}

.navbar__wolf {
  color: #f0f0f0;
  font-family: Anton;
  font-size: 26px;
}

.nav-item {
  margin: 5px;
  padding: 0px 15px;
  border-radius: 25px;
  border: 2px solid #191919;
  background-color: #02b108;
}

.nav-item a {
  color: #f0f0f0;
  text-decoration: none;
  text-align: center;
}

.navbar-toggler {
  border: 2px solid #02b108;
  color: #02b108;
  background-color: rgba(255, 255, 255, 0.1098039216);
}

.footer {
  background-color: #306;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.footer__text {
  display: flex;
  flex-flow: column nowrap;
  font-size: 15px;
  color: #f0f0f0;
  padding: 15px;
}
.footer__text .call-action {
  width: 100%;
}

.footer__text:nth-child(n) {
  text-align: center;
}

.banner {
  height: 600px;
  width: 100%;
  margin: 200px 0 100px 0;
  border: 2px solid #191919;
}

.banner__div--left {
  border-right: 1px solid #191919;
}

.banner__div--rigth {
  border-left: 1px solid #191919;
}

.container-fluid {
  padding: 0;
}

/* LAYOUT */
section {
  position: relative;
  transform-style: preserve-3d;
}

.main-banner {
  height: 100vh;
  width: 100%;
  background-color: #306;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.main-banner .main-banner_text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner .main-banner_text h1 {
  width: 70%;
  background-color: #02b108;
  border-radius: 20px;
  padding: 4px 15px;
  color: #f0f0f0;
  text-align: center;
}
.main-banner .main-banner_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner .main-banner_img img {
  width: 250px;
  height: 250px;
  border-radius: 0%;
  animation: imgmove 2s linear infinite;
}

.about-banner {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: center fixed url(../../assets/images/banner1.png);
}

.service-banner {
  height: 100vh;
  width: 100%;
  background-color: #306;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.banner__about__text {
  text-align: center;
  padding: 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.banner__about__text h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 38px;
}
.banner__about__text p {
  font-size: 28px;
}

.banner__about__image {
  background-image: url(../assets/images/banner1.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.banner__map {
  padding: 0;
}
.banner__map iframe {
  width: 100%;
  height: 100%;
}

.banner__form {
  padding: 10% 20px;
}
.banner__form form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.banner__form form div {
  margin: 5px 0;
}

.banner__form__title {
  width: 90%;
  text-align: center;
  font-size: 25px;
  color: #191919;
}

.banner__form__title--span {
  color: #7700ee;
}

.banner__form--name-last {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.banner__form--name-last input {
  width: 49%;
}

.banner__form--email {
  width: 90%;
}
.banner__form--email input {
  width: 100%;
}

.banner__form--text {
  width: 90%;
}
.banner__form--text textarea {
  width: 100%;
  height: 70px;
}

.banner__design__text {
  text-align: center;
  padding: 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.banner__design__text h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
}
.banner__design__text p {
  font-size: 18px;
}

.banner__design__image {
  background-image: url(../assets/images/banner1.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.banner__service__text {
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.banner__service__text h1, .banner__service__text h2, .banner__service__text h3 {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 5px;
}
.banner__service__text p {
  font-size: 20px;
}

.banner__service__image {
  background-image: url(../assets/images/banner1.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

@media (max-width: 575px) {
  .banner__home__text {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .banner__div--left {
    border-right: 0;
    border-bottom: 1px solid #191919;
  }
  .banner__div--rigth {
    border-left: 0;
    border-top: 1px solid #191919;
  }
  .banner__form form {
    flex-direction: column;
  }
}
@media (max-width: 905px) {
  .banner__form--name-last input {
    width: 100%;
  }
  .banner__form--name-last #name {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
