@media (max-width: 1124px) {

    .service-banner {
        
        .service-banner_text {
            width: 90%;
            h1 {
                font-size: 4vh;
            }
            p {
                font-size: 3.5vh;
            }
        }
    }

    .materials-banner {
        .materials-banner_text {
            width: 90%;

            h2 {
                font-size: 4vh;
            }
            p {
                font-size: 3.5vh;
            }
        }
    }   
    .design-banner {
        
        .design-banner_text {
            width: 90%;
            h1 {
                font-size: 4vh;
            }
            p {
                font-size: 3.5vh;
            }
        }
    }

    .workflow-banner {
        .workflow-banner_text {
            width: 90%;

            h2 {
                font-size: 4vh;
            }
            p {
                font-size: 3.5vh;
            }
        }
    } 
}

@media (max-width: 700px) {

    .main-banner {

        flex-flow: column;

        .main-banner_text h1{
            font-size: 3vh;
        }

        .main-banner_img img{
            width: 25vh;
            height: 25vh;
        }
    }

    .main-about-banner p {
        font-size: 3vh;
    }

    .main-service-banner p {
        font-size: 3vh;
    }

    .about-banner {

        .about-banner_text {
        font-size: 4vh;
        }
    }
}

@media (max-width: 400px) {
    .about-team-banner .cards-title {
        font-size: 4vh;

    }
}


@media (max-width: 576px) {
    .banner__div--left{
        border-right: 0;
        border-bottom: 1px solid $dark;
    }
    .banner__div--rigth{
        border-left: 0;
        border-top: 1px solid $dark;
    }

    .banner__form form {
        flex-direction: column;
    }

}

@media (max-width: 905px) {

    .banner__form--name-last {
    
        input{
            width: 100%;
        }
    }

    .banner__form--name-last {
        
        #name{
            margin-bottom: 10px;
        }
    }

}
